@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap");

* {
  margin: 0;
  
  padding: 0;
  box-sizing: border-box;
}

/* Apply the custom font globally */
body {
  font-family: "MyCustomFont", sans-serif; /* Use the custom font */
}

.page-home {
  font-family: Poppins;
  font-size: 16px;
  color: #1c3027;
  background-color: #e0c8b0;
}

.container {
  max-width: 90%;
  background-color: #e0c8b0;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  padding: 0 10%;
  overflow-y: auto;
  overflow-x: hidden;
}
.circle1 {
  background-color: rgba(28, 48, 39, 0.6);
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  position: absolute;
  top: 1%;
  left: 10%;
}
.circle2 {
  background-color: #1c3027;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  position: absolute;
  left: 14%;
  top: 20em;
}

.circle3 {
  background-color: rgba(28, 48, 39, 0.6);
  border-radius: 50%;
  height: 25rem;
  width: 25rem;
  position: absolute;
  left: 60%;
  top: -18em;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar {
  height: 7em;
  font-family: poppins;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .container ul {
  display: flex;
}

ul {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #1c3027;
  font-weight: 600;
}
.navbar a:hover {
  color: #bb5c46;
}

.navbar ul li {
  margin-left: 15px;
}

header .main_description {
  justify-content: center;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15em;
  left: 30em;
}

h1 {
  font-family: "Brawler";
}
header h1 {
  margin-left: 7%;
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
}

header p {
  line-height: 1.3rem;
  font-size: 1rem;
  margin-left: 7%;
  max-width: 60%;
}

header .container{
 height:40rem;
}
.icons_main_page {
  display: flex;
  position: absolute;
  width: 50%;
  top: 30em;
  left: 30em;
}
.inner_div {
  flex: 1;
  padding: 1%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.inner_div p {
  font-size: 17px;
}


.coffee-intro .container{
  height:30rem;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  position: relative;
  

}


.coffee-intro .all-items{
  position: absolute;
  left:35%;
  z-index: 1;
  
}

.coffee-intro .text-items {
  width: 20%;
}

.coffee-intro .text-items p {
  font-size: 18px;
  text-transform: capitalize;
    position:absolute;
  left:6%;


}
.coffee-intro .text-items h1 {
  text-transform: uppercase;
  font-size: 5rem;
}

.coffee-intro img {
  z-index: -1;
  height:540px;
  left: -15%;
  top:-35%;
  position: absolute;
}

.coffee-intro .text-items span {
position: relative;
left:30%;
}

.card{
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20%;
  height:500px;
  width: 350px;
  color:#e0c8b0;
  background-color: rgba(28,48,39,0.6);
  box-shadow: 30px 30px 20px rgba(0,0,0,0.2);
padding:1%;
margin-left: 2%;

}


.card h1{
  font-size: 1.2rem;
  font-family: 'Brawler';
}
.card p{
  
}

.card img{
  height:250px;
  width:250px;
  
}


.circle4{
  height:25rem;
  width:25rem;
background-color: rgba(28,48,39,0.6);
border-radius: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items:end ;
  padding:2%;
  text-transform: uppercase;

  color:#e0c8b0;
margin-left: -20%;
}


.pastry-intro .container{
  height:30rem;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  position: relative;
  

}


.pastry-intro .all-items{
  position: absolute;
  left:35%;
  z-index: 1;
  
}

.pastry-intro .text-items {
  width: 20%;
}

.pastry-intro .text-items p {
  font-size: 18px;
  text-transform: capitalize;
  position:absolute;
  left:5%;


}
.pastry-intro .text-items h1 {
  text-transform: uppercase;
  font-size: 5rem;
}

.pastry-intro img {
  height:570px;
  transform: rotate(45deg);
  z-index: -1;
  left: -15%;
  top:-35%;
  position: absolute;
}

.pastry-intro .text-items span {
position: relative;
left:20%;
}
.footer-wrap{
  display: flex;
  height:20rem;

}
.footer-wrap .vertical-nav h4{
  font-family: 'brawler';
  margin-bottom:5% ;
}

.footer-wrap .vertical-nav a{
  text-decoration: none;

  color:#1c3027;

}

.vertical-nav .icons img{
  height:30px;
  width:30px;
}
.footer-wrap .vertical-nav{
display:flex;
  text-transform: capitalize;
background-color:#e0c8b0;
flex:1;
flex-direction: column;
justify-content: center;
}

.footer-wrap .vertical-contact{
display:flex;
justify-content:center;
flex:1;
background-color:#e0c8b0;
flex-direction: column;
color:#1c3027;
margin-left: 10%;

}

footer .copyright{
  color:rgba(28,48,39,0.4);
  margin-top: 10%;
}
footer .email-text{
  border-radius: 10%;
        border: 2px solid #1c3027;
  color:#1c3027;
text-transform: capitalize;
width:60%;
  padding:2%;
  font-size: 15px;
}

footer textarea{
border-radius: 10%;
  font-size: 15px;
  text-transform: capitalize;
        border: 2px solid #1c3027;
color:#1c3027;
padding:2%;
}

.swiper-container {
      width: 100%;
      height: 100%;
      padding: 20px;
    
    }
    .swiper-slide {
      background:#e0c8b0;
      padding:5%;
      text-align: center;
      font-size: 18px;
      line-height: 20px;
      color: #000;
      overflow: hidden;
     margin-bottom: 10%;
    }
        .swiper-button-next{
      color: #000;
      font-size: 30px;
      background-color:transparent;
    }
    .cards{
      display: flex;
      align-items:center;
      justify-content: end;
    }

    .price{
      padding-top: 3%;
      color:#e0c8b07c;
      display: block;
    }

    #submit-btn{
      background-color: transparent;
      width:30%;
      padding:0.5em 1.5em ;
      border: 2px solid #1c3027;
      color: #1c3027;
      text-transform: capitalize;
      margin-top: 2%;
      transition: color 0.25s, border-color 0.25s, transform 0.25s, box-shadow 0.25s;
    }

    #submit-btn:hover{
 color: #bb5c46;
 font-weight:600;
 box-shadow: 0 0.5em 0.5em -0.4em #bb5c46;
 transform: translateY(-0.25em);


    }


    .careers{
      background-color:rgba(28,48,39,0.6);
      border-radius: 10px;
      padding:10px 25px;
      display: flex;
      flex-direction: column;
     
      text-align: center;
      text-transform: capitalize;
      width:100%;
    
    }

    .career-header{
      font-family: 'Brawler';
      font-weight: 600;
      letter-spacing: 3px;
      color:#e0c8b093;

    }
    .page-careers{
      display: flex;
      justify-content: center;
      background-color: #e0c8b0;
      align-items: center;
      min-height: 100vh;
      margin-top:2%;
    }

    .career-img{
      width:80%;
        margin-bottom:25px;
    }
  
    

    .career-available{
            text-transform: uppercase;
      margin-bottom: 40px;
      

    }
   

    .career-available:last-child{
      border-bottom: none;
    }
    .career-info{
      margin:50px 0 25px;
  }

  .career-info-item{
    font-weight: 600;
    letter-spacing: 1px;
    color:#e0c8b0;
    font-size: 0.7rem;
    padding:15px 0;
    border-top:1px solid #1c302755;
    
  }


  .apply-now-btn{
    border: 1px solid #e0c8b0;
    color:#e0c8b0;
    padding:15px 35px;
    text-decoration: none;
    margin:25px 0;
    transition: background-color 200ms ease-in-out;
  }
  
  .apply-now-btn:hover, .apply-now-btn:focus{
  background-color: #e0c8b0;
  color: #1c3027;
  }

  @media (min-width : 900px){
    .careers{
    flex-direction: row;
    }
    .career-available{
            border-right:1px solid #1c302755;
    }

    .career-info{
      border-bottom: none;
          padding:25px 50px;
    }

    .career-available:last-child{
      border-right: none;
    }
  }

  .page-about{
    background-color: #e0c8b0;
    overflow: hidden;
height:100%;

  }

  .page-about .container{
    overflow: auto
  
  }
.page-about .cup { 
  position: absolute;
  width:12rem;
  height:14rem;
  background-color:#24382f;
  top:50%;
  left:65%;
 transform: translate(-50%,-50%);
 border-bottom-left-radius:10%;
border-bottom-right-radius:10%;
 border-bottom:2px solid black;
}



.page-about .cup::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:2.5rem;
  background-color:#78431c;
  border-radius: 50%;
  box-sizing: border-box;
  border:7px solid #24382f;
  transform: translateY(-50%);
  box-shadow:inset 0 0 15px rgba(0,0,0,0.5) ;
}


.page-about .cup::after{  
  content: '';
  position: absolute;
  top:45%;
  right:-4rem;
  width:70%;
  height:8rem;
  border-radius: 50%;
  box-sizing: border-box;
  border:20px solid #24382f;
  transform: translateY(-40%);
}


.page-about .cup .plate
{
  width:16rem;
  height:16%;
  background-color:#24382f;

  border-bottom-left-radius:40% ;
  border-bottom-right-radius:40% ;
  position: absolute;
  top:14.1rem;
  transform: translateX(-40px);
  
 
}

.page-about .cup ul {
  margin:0;
  padding:0;
  position: absolute;
  top:-10%;
  transform: translateX(10%); 
  width: 100%;
  background-color:transparent;

}
.page-about .cup ul li{
  list-style: none;
  width:1%;
  margin:6%;
  background-color:#fff;
  height:60px;
  float:left ;
  animation: animate 3s infinite linear;


}


@keyframes animate{
  0%{
    transform: translateY(0);
    opacity: 0.8;
    filter: blur(0.4rem);
  }
  100%{
     transform: translateY(-15rem);
     opacity:0;
        filter: blur(0.5rem); 
  }
}

.page-about .cup ul li:nth-child(1){
  animation-delay: 0.2s;
}

.page-about .cup ul li:nth-child(2){
  animation-delay: 0.4s;
}

.page-about .cup ul li:nth-child(3){
  animation-delay: 0.6s;
}

.page-about .cup ul li:nth-child(4){
  animation-delay: 0.8s;
}

.page-about .cup ul li:nth-child(5){
  animation-delay: 0.10s;
}

.page-about  .cup ul li:nth-child(6){
  animation-delay: 0.12s;
}
.page-about .text {
 position: absolute;
 top:40%;
  width: 30%;
  margin-left:10%;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'brawler';
  color:#1c3027;
}

.page-gallery{
  background-color: #e0c8b0;
}
.page-gallery .pics {
  width:70%;
  margin-left:10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 10px; 
}

.page-gallery .pics > div {
  grid-column: span 3;

}

.page-gallery .pics img {

  max-width: 100%; /* Ensures image scales properly within its container */
  height: auto; /* Maintains aspect ratio */
   box-sizing: border-box;
   filter: grayscale(100%);
   transition: border-radius 1s ease-in, filter 2s ease-in-out;
}

.page-gallery .pics img:hover {
  filter: grayscale(0%);  
  border-radius: 10%;
  
  margin:5 ;
     border: 1px solid #1c3027; /* Remove grayscale on hover (turn image to color) */
  transform: scale(1.03); /* Enlarge the image on hover */
}


.page-gallery h1{
  margin: 5%;
  color:#1c3027;
  text-align: center;
  font-family: 'brawler';
   font-size:2rem;
   letter-spacing: 0.3rem;

}
