@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply the custom font globally */
body {
  font-family: "MyCustomFont", sans-serif; /* Use the custom font */
}

body {
  font-family: Poppins;
  font-size: 16px;
  color: #1c3027;
  background-color: #e0c8b0;
}

.container {
  max-width: 90%;
  background-color: #e0c8b0;
  margin: 0 auto;
  padding: 0 10%;
}
.circle1{
  background-color:rgba(28,48,39,0.6);
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  position: absolute;
  top:1%;
  left:10%;

}
.circle2 {
  background-color: #1c3027;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  position: absolute;
left: 15%;
}
.logo {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar {
  height: 8em;
  font-family: poppins;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .container ul {
  display: flex;
}

ul {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #6b8bab;
  font-weight: 600;
}
.navbar a:hover {
  color: #bb5c46;
}

.nav .menu_nav a {
  color: #bb5c46;
}
.nav .menu_nav a:hover {
  font-weight: 800;
}

.navbar ul li {
  margin-left: 15px;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  }

header .main_description {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

header h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-family: "Brawler";
  text-transform: uppercase;
}

header p {
  line-height: 1.3rem;
  font-size: 1rem;
  max-width: 70%;
}

